@page
@model Frontend.Pages.CColegioArbitro.CreateModel
@{
    ViewData["Title"]="Create";
}
<h1>Crear Colegio de Árbitros</h1>
<h2>@ViewData["Mensaje"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                <div class="form-group">
                    <label asp-for="ColegioArbitro.Nit" class="control-label" > </label>
                    <input asp-for="ColegioArbitro.Nit" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ColegioArbitro.Resolucion" class="control-label" > </label>
                    <input asp-for="ColegioArbitro.Resolucion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ColegioArbitro.Direccion" class="control-label" > </label>
                    <input asp-for="ColegioArbitro.Direccion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ColegioArbitro.Telefono" class="control-label" > </label>
                    <input asp-for="ColegioArbitro.Telefono" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ColegioArbitro.Correo" class="control-label" > </label>
                    <input asp-for="ColegioArbitro.Correo" class="form-control" />
                </div>
                <div class="form-group"> 
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}