@page
@model Frontend.Pages.CPatrocinador.DeleteModel
@{
       ViewData["Title"]="Delete";
}

<h1>Eliminar Patrocinador</h1>
<h2 class="text-danger">@ViewData["Confirmar"] </h2>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" asp-for="Patrocinador.Id" />
                 <div class="form-group">
                    <label asp-for="Patrocinador.Identificacion" class="control-label"> </label>
                    <input asp-for="Patrocinador.Identificacion" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Patrocinador.Nombre" class="control-label"> </label>
                    <input asp-for="Patrocinador.Nombre" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Patrocinador.TipoPersona" class="control-label"> </label>
                    <input asp-for="Patrocinador.TipoPersona" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Patrocinador.Direccion" class="control-label"> </label>
                    <input asp-for="Patrocinador.Direccion" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Patrocinador.Celular" class="control-label"> </label>
                    <input asp-for="Patrocinador.Celular" class="form-control" readonly>
                </div>
                <div  class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
