@page
@model Frontend.Pages.CCancha.CreateModel
@{
    ViewData["Title"]="Create";
}

<h1>Crear Cancha</h1>
<h2 class="text-danger"> @ViewData["Error"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                <div class="form-group">
                    <label asp-for="Cancha.Nombre" class="control-label" > </label>
                    <input asp-for="Cancha.Nombre" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Cancha.Disciplina" class="control-label" > </label>
                    <input asp-for="Cancha.Disciplina" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Cancha.CapacidadEsp" class="control-label" > </label>
                    <input asp-for="Cancha.CapacidadEsp" class="form-control" />                       
                   
                </div>
                
                <div class="form-group">
                    <label asp-for="Cancha.EscenarioId" class="control-label" >Escenario</label>
                    <select asp-for="Cancha.EscenarioId" class="form-control" >
                        <option value="">-- Seleccione un torneo --</option>
                        @foreach (var tor in Model.Escenarios)
                        {
                            <option value="@tor.Id"> @tor.Nombre</option>                                                        
                        }
                    </select>    
                </div>

                <div class="form-group"> 
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

