@page
@model Frontend.Pages.CCancha.DeleteModel
@{
    ViewData["Title"]= "Delete";
}

<h1>Eliminar Cancha </h1>
<h2 class="text-danger">@ViewData["Mensaje"]</h2>
<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Cancha.Id" />

                <div class="form-group">
                    <label asp-for="Cancha.Nombre" class="control-label"></label>
                    <input asp-for="Cancha.Nombre" class="form-control" readonly>
                    <span asp-validation-for="Cancha.Nombre" class="text-danger"></span> 
                </div>

                <div class="form-group">
                    <label asp-for="Cancha.Disciplina" class="control-label"></label>
                    <input asp-for="Cancha.Disciplina" class="form-control" readonly>
                     <span asp-validation-for="Cancha.Disciplina" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cancha.CapacidadEsp" class="control-label"></label>
                    <input asp-for="Cancha.CapacidadEsp" class="form-control" readonly>
                     <span asp-validation-for="Cancha.CapacidadEsp" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Nombre" class="control-label"></label>
                    <input asp-for="Escenario.Nombre" class="form-control" readonly/>                                            
                </div>
                <div class="form-group"> 
                  <button type="submit" class="btn btn-primary">Eliminar</button>
                </div>                
               
            </form>               
        </div>
    </div>

    <div>
        <a asp-page="Index"> Back to List</a>
    </div> 
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

