@page
@model Frontend.Pages.CArbitro.EditModel
@{
    ViewData["Title"]="Edit";
}

<h1>Editar Arbitro</h1>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <input type="hidden" asp-for="Arbitro.Id" />
                <div class="form-group">
                    <label asp-for="Arbitro.Documento" class="control-label" > </label>
                    <input asp-for="Arbitro.Documento" class="form-control" readonly />
                    <span asp-validation-for="Arbitro.Documento" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.Nombres" class="control-label" > </label>
                    <input asp-for="Arbitro.Nombres" class="form-control"/>
                    <span asp-validation-for="Arbitro.Nombres" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.Apellidos" class="control-label" > </label>
                    <input asp-for="Arbitro.Apellidos" class="form-control"/>
                    <span asp-validation-for="Arbitro.Apellidos" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.Celular" class="control-label" > </label>
                    <input asp-for="Arbitro.Celular" class="form-control"/>
                    <span asp-validation-for="Arbitro.Celular" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.Genero" class="control-label" > </label>
                    <select asp-for="Arbitro.Genero" class="form-control" >
                        <option value="">--- Seleccione ---</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.Disciplina" class="control-label" > </label>
                    <input asp-for="Arbitro.Disciplina" class="form-control" />
                    <span asp-validation-for="Arbitro.Disciplina" class="text-danger"> </span>    
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.TorneoId" class="control-label" >Torneo</label>
                    <select asp-for="Arbitro.TorneoId" class="form-control" >
                        <option value="">-- Seleccione un equipo --</option>
                        @foreach (var muni in Model.Torneos)
                        {
                            <option value="@muni.Id"> @muni.Nombre</option>                                                        
                        }
                    </select>    
                </div>

                <div class="form-group">
                    <label asp-for="Arbitro.ColegioArbitroId" class="control-label" >Colegio Árbitro</label>
                    <select asp-for="Arbitro.ColegioArbitroId" class="form-control" >
                        <option value="">-- Seleccione un colegio de árbitros --</option>
                        @foreach (var muni in Model.ColegioArbitros)
                        {
                            <option value="@muni.Id"> @muni.Nit</option>                                                        
                        }
                    </select>    
                </div>

                <div class="form-group"> 
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
