@page
@model Frontend.Pages.CEquipo.CreateModel
@{
    ViewData["Title"]="Create";
}

<h1>Crear Equipo</h1>
<h2 class="text-danger">@ViewData["Error"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="Equipo.Nombre" class="control-label" > </label>
                    <input asp-for="Equipo.Nombre" class="form-control" />
                    <span asp-validation-for="Equipo.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Equipo.Disciplina" class="control-label" > </label>
                    <input asp-for="Equipo.Disciplina" class="form-control" />
                    <span asp-validation-for="Equipo.Disciplina" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" >Patrocinador</label>
                    <select asp-for="Equipo.PatrocinadorId" class="form-control" >
                        <option value="">-- Seleccione un patrocinador --</option>
                        @foreach (var pat in Model.Patrocinadores)
                        {
                            <option value="@pat.Id"> @pat.Nombre</option>                                                        
                        }
                    </select>    
                </div>

                <div class="form-group"> 
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

