@page
@model Frontend.Pages.CEquipo.DeleteModel
@{
       ViewData["Title"]="Delete";
}

<h1>Eliminar Equipo</h1>
<h2 class="text-danger">@ViewData["Confirmar"] </h2>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <input type="hidden" asp-for="Equipo.Id" />
                <div class="form-group">
                    <label asp-for="Equipo.Nombre" class="control-label" > </label>
                    <input asp-for="Equipo.Nombre" class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <label asp-for="Equipo.Disciplina" class="control-label" > </label>
                    <input asp-for="Equipo.Disciplina" class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <label class="control-label" >Patrocinador</label>
                    <input asp-for="Patrocinador.Nombre" class="form-control" readonly/>
                </div>
                <div  class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>