@page
@model Frontend.Pages.CInscribirEquipo.DeleteModel
@{
    ViewData["Title"]="Delete";
}

<h1>Eliminar Equipo del toneo</h1>
<h2 class="text-danger"> @ViewData["Mensaje"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div> </div>
                <input type="hidden" asp-for="TorneoEquipo" />
                <div class="form-group">
                    <label asp-for="Torneo.Nombre" class="control-label" > </label>
                    <input asp-for="Torneo.Nombre" class="form-control" readonly/>
                </div>

                <div class="form-group">
                    <label asp-for="Equipo.Nombre" class="control-label" > </label>
                    <input asp-for="Equipo.Nombre" class="form-control" readonly/>
                </div>

                
                <div class="form-group"> 
                    <input type="submit" value="Eliminar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
