@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        ¡En el Sistema de Gestión de Eventos Deportivos Departamentales encontrará todas las opciones de administración que necesita!
    </p>
    <div class="text-center">
    <p>
        <img src="/images/running.jpg" width="200"/>
        <img src="/images/deporte-infantil.png" width="200"/>
        <img src="/images/tennis.jpg" width="200"/>
        <img src="/images/volei.jpg" width="200"/>
    </p>
    </div>
</div>
