@page
@model Frontend.Pages.CEscenario.CreateModel
@{
    ViewData["Title"]="Create";
}

<h1>Crear Escenario</h1>
<h2 class="text-danger"> @ViewData["Error"]</h2>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="Escenario.Nombre" class="control-label" > </label>
                    <input asp-for="Escenario.Nombre" class="form-control" />
                    <span asp-validation-for="Escenario.Nombre" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Direcion" class="control-label" > </label>
                    <input asp-for="Escenario.Direcion" class="form-control" />
                    <span asp-validation-for="Escenario.Direcion" class="text-danger"> </span>
                </div>

                <div class="form-group">
                    <label asp-for="Escenario.Telefono" class="control-label" > </label>
                    <input asp-for="Escenario.Telefono" class="form-control" />
                    <span asp-validation-for="Escenario.Telefono" class="text-danger"> </span>                       
                   
                </div>
                
                <div class="form-group">
                    <label asp-for="Escenario.TorneoId" class="control-label" > </label>
                    <select asp-for="Escenario.TorneoId" class="form-control" >
                        <option value="">-- Seleccione un torneo --</option>
                        @foreach (var tor in Model.Torneos)
                        {
                            <option value="@tor.Id"> @tor.Nombre</option>                                                        
                        }
                    </select>    
                </div>

                <div class="form-group"> 
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
