@page
@model Frontend.Pages.MIndexModel
@{
    ViewData["Title"]="MIndex";
}
<h1> Lista de Municipios </h1>
<p>
    <a asp-page="Create" class="btn btn-secondary">Crear Municipio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mun in Model.Municipios)
        {
            <tr>
                <td>@mun.Nombre </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@mun.Id" class="btn btn-primary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@mun.Id" class="btn btn-success">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@mun.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>  
</table>
